src/main/mule/mule-poc-1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="Get-poc-1Flow" doc:id="7c53c4a4-ab25-4935-84e6-526945c03dc6" >
		<logger level="INFO" doc:name="Start-log" doc:id="e319f764-a227-4510-bc5f-0c32d89c8e39" message="Get flow started"/>
		<ee:transform doc:name="Transform Message" doc:id="e486b2e2-e81c-4452-bad0-d76d51fe2073" >
			<ee:message >
				<ee:set-payload ><![CDATA[output application/json
var datetime = (now() >> "IST") as String {format: "dd-MM-yyyy hh:mm"}
var AMPM = (now() >> "IST") as String {format: " a"}
---
{
  uniqueId: attributes.headers.vendorName ++ " - " ++ uuid(),
  currentDate: datetime ++ AMPM,
  status: "Success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="end-log" doc:id="d294cd06-9c80-4c60-8ef3-a60d7be85452" message="get flow completed successfully"/>
	</flow>
	<flow name="Post-flow-path" doc:id="d3f8bf57-679a-4e63-8419-c4b31451ddd2" >
		<logger level="INFO" doc:name="Logger" doc:id="d47f4d8e-9cb4-4dec-a4d4-0317c318be82" />
		<choice doc:name="Choice" doc:id="1dfe8647-bca5-42cb-81df-bee6871d83c5" >
			<when expression="#[payload.noOfRecords as Number == sizeOf(payload.records)]">
				<ee:transform doc:name="Transform Message" doc:id="1b70f2a8-ee8f-4eea-8488-46b46a761dfc" >
					<ee:message >
						<ee:set-payload ><![CDATA[output application/csv header=true,separator=";"
var datetime = (now() >> "IST") as String {format: "dd-MM-yyyy hh:mm"}
var AMPM = (now() >> "IST") as String {format: " a"}
---
{
  uniqueId: attributes.headers.vendorName ++ " - " ++ uuid(),
  currentDate: datetime ++ AMPM,
  status: "Success"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="c403d6ac-298a-448b-bee0-4a87ae6e37e7" />
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="d55bd52e-03a9-4419-b3b2-101d5ff733ce" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
%dw 2.0
output application/json
---
{
  "errorMessage" : "The no. of records counts doesn’t match with the records in an array",
  "status": "Failed"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="post-xml-flow-path" doc:id="76dbbd55-00e6-4b22-a29e-4a8a900b7622" >
		<logger level="INFO" doc:name="Logger" doc:id="ae55018f-c2da-4dab-9fdd-f61bd8eea2b5" />
		<choice doc:name="Choice" doc:id="3b530075-16e9-452a-ae6d-b7c2cf88d077" >
			<when expression="#[payload.orders.noOfRecords as Number  == sizeOf(payload.orders.*records)]">
				<ee:transform doc:name="Transform Message" doc:id="0fcb3ec3-6038-47ae-8670-1698f1f88473" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.orders.*records map {
    "order-id": payload.orders.orderId,
    "user-name": upper($.name),
    "phone-number": $.contactNo,
    "mail": $.emailId
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="4975f195-b9c6-4649-ac5f-622a46837784" />
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="a80affed-e734-4a9c-acbc-1ca3520dd2ed" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "errorMessage" : "The no. of records counts doesn’t match with the records in an array",
  "status": "Failed"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
